html
  html
    // All the files that are required
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    title StatTrak Password Reset
    body
      //
        you can substitue the span of reauth email for a input with the email and
        include the remember me checkbox
      .container
        .card.card-container
          // <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" />
          img#profile-img.profile-img-card(src='favicon.ico')
          p#profile-name.profile-name-card
          form.form-signin(action='password_reset', method='post')
            span#reauth-email.reauth-email
            input#inputEmail.form-control(type='username', name='email', placeholder='Email', required='', autofocus='')
            p.red #{error}
            button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit', value='submit') Reset
          // /form
          a.forgot-password(href='/login') Login
          a.forgot-password(href='/registration') Create an account
        // /card-container
      // /container
